#dashboard .width-100{
    width: 100%
}

.drop-down-search{
    position: absolute;
    z-index: 10;
    background-color: white;
    width:204px;
}

.drop-down-search-content{
    padding: 5px;
    border: 1px solid gray;
    width: 100%;
}